@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: lightGrey;
}

.wrapper {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .heading {
  margin-top: 30px;
  text-align: center;
  color: #732091;
}

.wrapper h1 {
  font-size: 20px;
}

.wrapper h2 {
  text-align: center;
  font-size: 17px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.cardHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

button {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

button:disabled {
  background-color: lavender;
}

.card,
button {
  background-color: #732091;
  color: #fff;
  width: 45px;
  border-radius: 5px;
  margin: 2px;
  height: 45px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card .back,
button .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 43px;
  height: 43px;
  padding: 5px;
}

.card {
  cursor: pointer;
}

.card:hover {
  -webkit-box-shadow: 0 0 10px 5px rgba(230, 255, 110, 0.7);
          box-shadow: 0 0 10px 5px rgba(230, 255, 110, 0.7);
}

.animate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.top {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.display {
  text-align: center;
  padding: 4px 0;
  font-size: 19px;
  color: #732091;
  height: 35px;
  width: 185px;
  margin: 5px 7px;
  border: 3px solid #732091;
  border-radius: 5px;
}

.display.msg {
  border: none;
  width: 85%;
  height: 23px;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 19px;
}

.option {
  padding: 3px;
  font-size: 21px;
  border-radius: 5px;
  color: purple;
  height: auto;
  width: auto;
  background-color: #fff;
  margin: 3px 7px;
  cursor: pointer;
}

.option:hover {
  background-color: #732091;
  color: #fff;
}

.credit {
  margin: 15px;
  padding: 15px;
  color: #000;
  text-align: center;
  background-color: lavender;
  border: 2px solid #732091;
  border-radius: 5px;
  line-height: 20px;
}

.credit a {
  text-decoration: none;
  color: #732091;
}

.credit a:hover {
  text-decoration: underline;
}

.credit .smol {
  font-size: 13px;
}

@media screen and (min-width: 330px) {
  .display {
    font-size: 19px;
  }
  .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 350px) {
  .cardHolder {
    width: 330px;
  }
  .option {
    padding: 3px 7px;
    font-size: 19px;
  }
  .card,
  button {
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  .card .back,
  button .back {
    width: 49px;
    height: 49px;
  }
  .wrapper h1 {
    font-size: 35px;
  }
  .wrapper h2 {
    font-size: 23px;
  }
}

@media screen and (min-width: 450px) {
  .bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cardHolder {
    width: 430px;
  }
  .display {
    width: 205px;
  }
  .card,
  button {
    width: 75px;
    height: 75px;
    margin: 5px;
  }
  .card .back,
  button .back {
    width: 73px;
    height: 73px;
  }
}

@media screen and (min-width: 550px) {
  .cardHolder {
    width: 505px;
  }
  .card,
  button {
    width: 90px;
    height: 90px;
    margin: 5px;
  }
  .card .back,
  button .back {
    width: 86px;
    height: 86px;
  }
  .wrapper h1 {
    font-size: 37px;
  }
}

@media screen and (min-width: 660px) {
  .cardHolder,
  .rules {
    width: 640px;
  }
  .card,
  button {
    width: 100px;
    height: 100px;
    margin: 5px;
  }
  .card .back,
  button .back {
    width: 96px;
    height: 96px;
  }
}
/*# sourceMappingURL=style.css.map */